$size-active: 8vh;

.active {
	@include flex(inline, center, center);

	&__swatch,
	&__base {
		@include absolute(bottom 1rem);
		left: 50%;
		margin-left: -$size-active / 2;
	}

	&__beat {
		@include absolute(top left);
		z-index: 999;
		@include share(width, height, $size-active);
		animation: color-beat 2s ease-in-out 1s infinite;
		border-radius: 50%;
	}

	&__swatch {
		display: inline-block;
		@include share(width, height, $size-active);
		margin-top: 0;
		margin-right: 0;
		margin-bottom: 0;
		font-size: 0.6rem;
		color: white;
		-ms-touch-action: none;
		touch-action: none;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
		transition: none;

		&.drag-active {
			animation-play-state: paused;
			border-radius: 50px;
			$size: calc((30vh - 48px) / 3);
			@include share(width, height, $size);
			-webkit-transform: scale(1);
			transform: scale(1);

			.active__beat {
				display: none;
			}
		}
	}

	&__base {
		$size: 8vh;
		-webkit-transform: scale(1.4);
		transform: scale(1.4);
		display: inline-block;
		@include share(width, height, $size);
		background: $paper;
		border: solid $gutter $paper;
		box-shadow: 0 0 $gutter-1-2 $shadow;
		-webkit-transition: none;
		transition: none;
		border-radius: 50%;
	}
}

@keyframes color-beat {
	0%   { transform: scale(0.95); }
	50%  { transform: scale(1.10); }
	100% { transform: scale(0.95); }
}