.active {
	@include flex(inline, center, center);

	&__swatch {
		position: absolute;
		background: yellowgreen;
		transform: scale(1.2);
	}

	&__base {
		$size: 8vh;
		@include absolute(bottom 1rem);
		transform: scale(1.4);
		display: inline-block;
		@include share(width, height, $size);
		background: $paper;
		border: solid $gutter $paper;
		box-shadow: 0 0 $gutter-1-2 $shadow;
		transition: none;
		border-radius: 50%;
	}
}

.drag-active {
	border-radius: 50px;
	$size: calc((30vh - 48px) / 3);
	@include share(width, height, $size);
	transform: scale(1);
	transition: transform 0.5s ease-in-out;
}
