.active {
	$size-active: 8vh;
	@include flex(inline, center, center);

	&__swatch,
	&__base {
		@include absolute(bottom 1rem);
		left: 50%;
		margin-left: -$size-active / 2;
	}

	&__swatch {
		display: inline-block;
		@include share(width, height, $size-active);
		margin-top: 0;
		margin-right: 0;
		margin-bottom: 0;
		font-size: 0.6rem;
		color: white;
		-ms-touch-action: none;
		touch-action: none;
		-webkit-transition: none;
		transition: none;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
		-webkit-animation: color-beat 2s ease-in-out 1s infinite;
		animation: color-beat 2s ease-in-out 1s infinite;
	}

	&__base {
		$size: 8vh;
		-webkit-transform: scale(1.4);
		transform: scale(1.4);
		display: inline-block;
		@include share(width, height, $size);
		background: $paper;
		border: solid $gutter $paper;
		box-shadow: 0 0 $gutter-1-2 $shadow;
		-webkit-transition: none;
		transition: none;
		border-radius: 50%;
	}
}

.drag-active {
	border-radius: 50px;
	$size: calc((30vh - 48px) / 3);
	@include share(width, height, $size);
	-webkit-transform: scale(1);
	transform: scale(1);
}

/* This animation doesn't work with drag & drop
@-webkit-keyframes color-beat {
	0%   { -webkit-transform: scale(0.95); }
	50% { -webkit-transform: scale(1.05); }
	100%   { -webkit-transform: scale(0.95); }
}

@keyframes color-beat {
 	0%   {
		-moz-transform: scale(0.95);
		-webkit-transform: scale(0.95);
		transform: scale(0.95);
	 }

	50% {
		-moz-transform: scale(1.05);
		-webkit-transform: scale(1.05); // Browser bug fix
		transform: scale(1.05);
 	}

	100%   {
		-moz-transform: scale(0.95);
		-webkit-transform: scale(0.95);
		transform: scale(0.95);
	 }
}
*/
