.control {
	@include absolute(top left);
	z-index: 2;
	@include flex(flex, center, center);
	order: 2;
	width: 100vw;
	height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);

	button {
		@include share(width, height, 100px);
		color: $paper;
		background-color: $cool;
		border-radius: $gutter;
		border: none;
		font-size: 1rem;
		box-shadow: 0 0 $gutter-1-2 $shadow;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;

		&:active {
			-webkit-transform: scale(0.95);
			transform: scale(0.95);
			box-shadow: 0 0 0 $shadow;
		}
	}
}

.replay {
	@include fixed(top left);
	height: calc(50vh - 50px);
	width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
	text-align: center;
	font-size: 0.5rem;
	color: $shadow;

	span {
		display: block;
		font-size: 1.2rem;
		font-weight: 700;
		color: $cool;
	}

}

.hidden .liveup {
	transform: scale(0.4);
	opacity: 0;
	transition: transform 1.2s cubic-bezier(.5,.27,.58,1.41) 1.5s, opacity 1.2s cubic-bezier(.5,.27,.58,1.41) 1.5s;
}

.liveup {
	position: fixed;
	top: calc(75vh - 10px);
	top: calc((var(--vh, 1vh) * 75) - 10px);
	height: 20px;
	width: 100px;
	padding-right: $gutter;
	color: $paper;
	font-size: 0.8rem;
	font-weight: 500;
	transform: scale(1);
	opacity: 1;
	transition: transform 1.2s cubic-bezier(.5,.27,.58,1.41) 1.5s, opacity 1.2s cubic-bezier(.5,.27,.58,1.41) 1.5s;

	&::before {
		position: absolute;
		width: 100px;
		height: 100px;
		top: -15px;
		right: 0;
		z-index: -1;
		content: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAzNiAyNCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzYgMjQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojRTRCQkFDO30KPC9zdHlsZT4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTE3LjUsMy45YzMuOC01LjQsOS4xLTQsMTEuNi0wLjhjMi42LDMuNSwxLjQsOC42LTEuNCwxMS40cy0xMC4xLDktMTAuMSw5cy03LjMtNi4xLTEwLjEtOVMzLjMsNi43LDYsMy4yCglDOC40LTAuMSwxMy43LTEuNSwxNy41LDMuOXoiLz4KPC9zdmc+');
	}
}
