.control {
	@include absolute(top left);
	z-index: 2;
	@include flex(flex, center, center);
	order: 2;
	width: 100vw;
	height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);

	button {
		@include share(width, height, 100px);
		color: $paper;
		background-color: $cool;
		border-radius: $gutter;
		border: none;
		font-size: 1rem;
		box-shadow: 0 0 $gutter-1-2 $shadow;
		transition: all 0.3s ease-in-out;

		&:active {
			transform: scale(0.95);
			box-shadow: 0 0 0 $shadow;
		}
	}
}

.replay {
	@include fixed(top left);
	height: calc(50vh - 50px);
	width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
	text-align: center;
	font-size: 0.5rem;
	color: $shadow;

	span {
		display: block;
		font-size: 1.2rem;
		font-weight: 700;
		color: $cool;
	}

}
