
.progression {
	@include fixed(bottom left);
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__text {
		text-align: center;
		font-size: 0.45rem;
		color: $cool;

		span {
			position: relative;
			font-weight: 700;

			&::after {
				@include absolute(top left);
			}
		}
	}

	&__graphic {
		width: 219px;
		padding-top: $gutter-1-2;
		margin-bottom: $gutter-2;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		div {
			height: 9px;
			width: 9px;
			border-radius: 50%;
			background-color: $shadow;
		}
	}

	@for $i from 1 through 15 {
		&.level-#{$i} {
			.progression__graphic {
				div:nth-of-type(-n+#{$i}) {
					background-color: $cool;
				}
			}

			.progression__text {
				span:after {
					$porc: (100/15) * $i;
					content: '#{round($porc)}%';
				}
			}
		}
	}
}
