.swatches {
	position: relative;
	@include flex(flex, center, center);
	flex-flow: row wrap;
	width: calc(35vh + 60px);
	height: 35vh;
	padding: 4vh 0;
	border-bottom: solid 2px $paper;
}

.swatch {
	position: relative;
	@include share(width, height, 7vh);
	margin: $gutter-1-2;
	background: coral;
	border-radius: 50%;
	z-index: 14;
	animation: swatch-appear 1s cubic-bezier(0.5, 0, 0.53, 1.49) 0s 1;
	animation-fill-mode: backwards;
	transition: all 0.5s ease-in-out;

	&__cmyk {
		display: none;
		@include absolute(bottom 1rem * -1);
		font-size: 0.6rem;
		color: black;
	}
}

.match-swatch {
	background: $paper !important;
	box-shadow: 0 0 $gutter-1-2 $shadow !important;
}


#swatchesGrid {
	.swatch {
		position: relative;

		&::after {
			content:"";
			height: 35vh;
			width: 2px;
			background-color: $shadow-light;
			position: absolute;
			bottom: 35vh;
			left: calc(50% - 1px);
			z-index: 11;
			animation: show-line 0.5s 1s linear both;
		}
	}

	.wasCorrect::after, .match-swatch::after {
			visibility: hidden;
	}
}

.wasCorrect {
	animation: wasCorrectAnimation 2s normal;
}

@keyframes wasCorrectAnimation {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.3);
	}

	100% {
		transform: scale(0);
	}
}

@keyframes swatch-appear {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes show-line {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes hide-line {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
