#app {
	position: relative;
	z-index: 2;
	@include flex(flex, start, center);
	flex-direction: column;
	height: 100vh; // Use vh as a fallback for browsers that do not support Custom Properties
	height: calc((var(--vh, 1vh) * 100) - 24px);
}

@import 'home';
