.plactive {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &__swatch {
    position: absolute;
    background: yellowgreen;
    transform: scale(1.2);
  }

  &__base {
    border: solid $gutter $paper;
    background: $paper;
    box-shadow: 0 0 $gutter-1-2 $shadow;
    transform: scale(1.4);
    position: fixed;
    bottom: 1rem;
    display: inline-block;
    width: 8vh;
    height: 8vh;
    transition: none;
    border-radius: 50%;
  }
}

.drag-active {
  border-radius: 50px;
  height: calc( (30vh - 48px) / 3 );
  width: calc( (30vh - 48px) / 3 );
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}
