.mixer {
	border-bottom: none;

	// Class to be activated when the active color is over its target
	.drop-target {
		transform: scale(1.2);
	}
}

// Class to be activated when the color is matched
.match-mixer {
	background: $paper !important;
	box-shadow: 0 0 $gutter-1-2 $shadow !important;
}
