:root {
	--num-levels: 15;
	--current-level: 1;
	--vh: 0px;
	--primary-color: hsl(189, 64%, 59%);
	--secondary-color: hsl(324, 64%, 59%);
}

@import 'tools/tools';
@import 'base/base';
@import 'components/components';
@import 'pages/pages';
@import 'others/others';
@import 'vendor/vendor';
