:root {
	--num-levels: 15;
	--current-level: 1;
	--vh: 0px;
}

@import 'tools/tools';
@import 'base/base';
@import 'components/components';
@import 'pages/pages';
@import 'others/others';
@import 'vendor/vendor';

.fadeIn {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}
