.plswatches {
	position: relative;
	@include flex(flex, center, center);
	flex-flow: row wrap;
	width: calc(35vh + 60px);
	height: 35vh;
	padding: 4vh 0;
	border-bottom: solid 1px $shadow;

	div {
		position: relative;
		@include share(width, height, 7vh);
		margin: $gutter-1-2;
		background: coral;
		border-radius: 50%;
		animation: swatch-appear 1s cubic-bezier(0.5, 0, 0.53, 1.49) 0s 1;
		animation-fill-mode: backwards;
		transition: all 0.5s ease-in-out;

		&::before {
			content: '';
			@include absolute(top left);
			@include share(width, height, 100%);
			border-radius: 10vh;
			border: solid 0;
			transition: all 0.3s ease-in-out;
		}
	}

	.match-swatch {
		background: $paper !important;
		box-shadow: 0 0 $gutter-1-2 $shadow !important;
	}
}

@keyframes swatch-appear {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
