
.plswatches {
  position: relative;
  height: 35vh;
  width: 45vh;
  display: grid;
  grid-gap: $gutter;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto;
  padding: 4vh 0;
  border-bottom: solid 1px $shadow;

  div {
    position: relative;
    border-radius: 50%;
    background: coral;
    animation: swatch-appear 1s cubic-bezier(.5,0,.53,1.49) 0s 1;
    animation-fill-mode: backwards;
    -webkit-transition: all .5s;
    transition: all .5s ease-in-out;

    &::before {
      content:"";
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10vh;
      border: solid 0;
      transition: all .3s ease-in-out;
    }
  }

  &__swatch1 {
    grid-row: 2;
    grid-column: 2;
  }

  &__swatch2 {
    grid-row: 2;
    grid-column: 3;
  }

  &__swatch3 {
    grid-row: 2;
    grid-column: 4;
  }

  &__swatch4 {
    grid-row: 2;
    grid-column: 1;
  }

  &__swatch5 {
    grid-row: 2;
    grid-column: 5;
  }

  &__swatch6 {
    grid-row: 1;
    grid-column: 1;
  }

  &__swatch7 {
    grid-row: 1;
    grid-column: 2;
  }

  &__swatch8 {
    grid-row: 1;
    grid-column: 3;
  }

  &__swatch9 {
    grid-row: 1;
    grid-column: 4;
  }

  &__swatch10 {
    grid-row: 1;
    grid-column: 5;
  }

  &__swatch11 {
    grid-row: 3;
    grid-column: 1;
  }

  &__swatch12 {
    grid-row: 3;
    grid-column: 2;
  }

  &__swatch13 {
    grid-row: 3;
    grid-column: 3;
  }

  &__swatch14 {
    grid-row: 3;
    grid-column: 4;
  }

  &__swatch15 {
    grid-row: 3;
    grid-column: 5;
  }

  .match-swatch {
    background: $paper !important;
    box-shadow: 0 0 $gutter-1-2 $shadow !important;
  }

  .fail-swatch {
    z-index: 4;

    &::before {
      top:-4px;
      left: -4px;
      z-index:3;
      border: solid 4px red;
    }

    &::after {
      content:"";
      position: fixed;
      top: $gutter-4;
      left: 0;
      width: 100vw;
      height: calc(100vh - 48px);
      z-index:2;
      background: $paper;
      opacity: 0.5;
      transition: all .3s ease-in-out;
    }
  }
}

@keyframes swatch-appear {
  0% {-ms-transform: scale(0); /* IE 9 */
    -webkit-transform: scale(0); /* Safari 3-8 */
    transform: scale(0);}
  100%{-ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari 3-8 */
    transform: scale(1);}
}