// FINAL PAGE
aside#finalPage.final.hidden.animated
	header.header
		p#backButtonFinal.header__back
	#livesOutMessage.final-message.hidden
		h2 Well done!
		h3.
			You have finished Palette with
			#[span.js-contSuccessfulFinalPage X] points at level
		p.
			#[span#levelCurrentFinal LEVEL]
		a#shareLinkFinal.header__share(href="https://twitter.com/intent/tweet?text=I+have+finished+@PlayPalette+at+level+10+with+1530+points!!!+Can+you+make+it+better?+http://palette.ws") SHARE YOUR RECORD
	#gameEndMessage.final-message.hidden.game-end
		h2 Congratulations!
		h3.
			You have overcome all the levels of Palette with
			#[span.js-contSuccessfulFinalPage X] points
		p
		a#shareLinkFinalCompleted.header__share(href="https://twitter.com/intent/tweet?text=I+have+overcome+all+the+levels+of+@PlayPalette+with+1530+points!!!+Can+you+make+it+better?+http://palette.ws") SHARE YOUR RECORD
	.final-donation Support us
	button.donate-button
	.confetti
		- var n = 0;
		while n < 13
			.confetti-piece
			- n++
