// GAME PAGE
section#app.game.animated.hidden
	header.header
		p#backButton.header__back
		p.header__level LEVEL
			span#numLevels
		p#score.header__score 1240
		p.header__lives
			span#livesText.animated
	main
		section#swatchesGrid.swatches
		section#mixesGrid.swatches.mixer
	#limitActive.limit-drag
		#activeBase.active__base
		.bonus.hidden
			button#bonusButton.bonus__button
			#bonusText.bonus__quantity x1
