// GAME PAGE
section#app.game.animated.hidden
	header.header
		p#backButton.header__back
		p.header__level LEVEL
			span#numLevels
		p.header__score
			span#score
	main
		section#swatchesGrid.swatches
		section#mixesGrid.swatches.mixer
	#activeBase.active__base