// HOME PAGE
aside#homePage.home.fadeIn.animated
	header.home-header
		.home-header__logo.fadeInDown.animated
			img(src="img/logo.svg" alt="Palette logo" height="50")
		.header
			p.header__level LEVEL&nbsp;
				span#level
			p#score.header__score 40
			p#lives.header__lives 17
	nav.home-buttons
		button#playButton.home-buttons__play
		button#rateButton.home-buttons__rate
		button#soundButton.home-buttons__sound
		button#resetButton.home-buttons__reset
		button#creditsButton.home-buttons__about
		a#eulaButton.home-buttons__eula(onclick="openUrl('http://palette.ws/legal.html')" href="#")
	section#homeHighScore.home-hiscore.invisible
		.hiscore__title HI SCORE
		.hiscore__body
			p.header__level LEVEL #[span#highLevel 0]
			p#highScore.header__score 0
			p#shareLink.header__share SHARE


	a.donate-button(onclick="openUrl('https://www.buymeacoffee.com/PilPilGames')" href="#")
