// HOME PAGE
aside#homePage.home.fadeIn.animated
	header.home-header
		.home-header__logo.fadeInDown.animated
			img(src="src/img/logo.svg" alt="Palette logo" height="50")
		.header
			p.header__level LEVEL&nbsp;
				span#homeLevel
			p#homeScore.header__score 40
			p#homeLives.header__lives 17
	nav.home-buttons
		button#playButton.home-buttons__play
		button#rateButton.home-buttons__rate
		button#soundButton.home-buttons__sound
		button#resetButton.home-buttons__reset
		button#creditsButton.home-buttons__about
		button#eulaButton.home-buttons__eula
	section.home-hiscore
		.hiscore__title HI SCORE
		.hiscore__body
			p.header__level LEVEL #[span#highlevel 0]
			p#highscore.header__score 0
			a#shareLink.header__share(href="https://twitter.com/intent/tweet?text=I+have+reached+level+5+playing+@Palette_game!!!+http://palette.ws") SHARE


	a.donate-button(href="https://www.buymeacoffee.com/PilPilGames")
