// RESET PAGE
aside#resetPage.reset.hidden
	main.notification
		h2.notification__title Reset game
		p.notification__text Are you sure you want to reset your game? All your progression will be deleted.
		.notification__button
			button#resetCancel.notification__button--refuse
			button#resetAccept.notification__button--acept
