// TUTORIAL PAGE
aside#screenTutorial.screentutorial.hidden.animated
	.screentutorial-text MIX THE COLORS TO MATCH THE SAMPLES
	.screentutorial-graphic
		.screentutorial-graphic__swatch
		.screentutorial-graphic__mixer
		.screentutorial-graphic__active
	a.screentutorial-next That's all! Shall we get started?