@mixin clothoid-gradient(
	$direction,
	$color: #000000,
	$alpha-from: 1,
	$alpha-to: 0
) {
	$diff: $alpha-from - $alpha-to;
	// Direction has been omitted and happens to be a color-stop
	@if is-direction($direction) == false {
		$direction: 180deg;
	}

	background: -webkit-linear-gradient(
		legacy-direction($direction),
		rgba($color, $alpha-from) 0%,
		rgba($color, $alpha-from - $diff * 0.7) 50%,
		rgba($color, $alpha-from - $diff * 0.85) 65%,
		rgba($color, $alpha-from - $diff * 0.925) 75.5%,
		rgba($color, $alpha-from - $diff * 0.963) 82.85%,
		rgba($color, $alpha-from - $diff * 0.981) 88%,
		rgba($color, $alpha-to) 100%
	);

	background-image: linear-gradient(
		$direction,
		rgba($color, $alpha-from) 0%,
		rgba($color, $alpha-from - $diff * 0.7) 50%,
		rgba($color, $alpha-from - $diff * 0.85) 65%,
		rgba($color, $alpha-from - $diff * 0.925) 75.5%,
		rgba($color, $alpha-from - $diff * 0.963) 82.85%,
		rgba($color, $alpha-from - $diff * 0.981) 88%,
		rgba($color, $alpha-to) 100%
	);
}

// @link: https://css-tricks.com/easing-linear-gradients/
// Dependence: utils.linear-gradient.scss
