* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	&:before,
	&:after {
		box-sizing: inherit;
	}
}

html {
	width: 100vw;
	height: 100vh;
	//height: calc(var(--vh, 1vh) * 100);
	font-size: 32px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

body {
	height: 100%;
	text-align: center;
	overflow: hidden;

	&.ios {
		padding-top: 24px;
	}
}

@import 'variables';

#app {
	position: relative;
	z-index: 2;
	@include flex(flex, start, center);
	flex-direction: column;
	height: 100vh; // Use vh as a fallback for browsers that do not support Custom Properties
	//height: calc((var(--vh, 1vh) * 100) - 24px);
}
